@font-face {
  font-family: AllerRegular; /*  Font Name*/
  src: url(../fonts/Aller/AllerRegular.ttf);
}

@font-face {
  font-family: AllerBold; /* Font Name */
  src: url(../fonts/Aller/AllerBold.ttf);
}

@font-face {
  font-family: AllerLight; /* Font Name */
  src: url(../fonts/Aller/AllerLight.ttf);
}
